<h2>🔥 News</h2>

<div class="news-div has-news-scrollbar" style="overflow-y: auto; max-height: 420px;">
    <ul class="news-list">
        <li class="news-item">
            <span class="news-date">Aug '26</span>
            <span class="news-content">A paper I co-authored was accepted to <a href="https://yifancao.com/SocialFiVis/">IEEE VIS 2026</a>!</span>
        </li>
        <li class="news-item">
            <span class="news-date">May '26</span>
            <span class="news-content">I passed my M.Phil. Thesis Defense with a minor revision.</span>
        </li>

        <li class="news-item">
            <span class="news-date">Jan '26</span>
            <span class="news-content">A paper I co-authored was accepted to the <a href="https://doi.org/10.1080/10447318.2025.2605526">International Journal of Human–Computer Interaction</a>!</span>
        </li>
        <li class="news-item">
            <span class="news-date">Jun '22</span>
            <span class="news-content">I obtained my B.Eng. @ZUFE!</span>
        </li>
    </ul>
</div>
